*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }



p, a, b  {padding: 0; margin: 0; font-weight: 400; text-align: justify;}
h1, h2, h3, h4 { font-weight: 500; }
li, ul {padding: 0; margin: 0; list-style: none;}

h1 {font-size: 54px; line-height: 72px; font-family: 'Montserrat', sans-serif;}
h2 {font-size: 32px; line-height: 46px; font-family: 'Montserrat', sans-serif; margin-bottom: 15px;}
h3 {font-size: 12px; line-height: 30px; font-family: 'Montserrat', sans-serif; text-transform: uppercase; letter-spacing: 2px; color: rgba(25, 26, 30, 0.4); margin-bottom: 5px;}
h4 {font-size: 21px; line-height: 30px; font-family: 'Montserrat', sans-serif;}
p  {font-size: 16px; line-height: 30px; font-family: 'Montserrat', sans-serif; opacity: 0.7; margin-bottom: 30px;}
strong 	{font-family: 'Montserrat', sans-serif; color: #191A1E;}
a  		{text-decoration: none; color: #007FFF;}
p a:hover {text-decoration: underline;}

p.light, h1.light, h2.light, h4.light {color: #fff;}
h3.color, span.color {color: #007FFF; display: inline-block;}

@media screen and (max-width: 1260px){
    h1 {font-size: 48px; line-height: 64px; }
    h2 {font-size: 28px; line-height: 40px; margin-bottom: 30px;}
    h3 {font-size: 12px; line-height: 30px; margin-bottom: 10px;}
    h4 {font-size: 18px; line-height: 26px;}
    p  {font-size: 16px; line-height: 30px; margin-bottom: 30px;}
    a {font-size: 16px;}
    .header-block { left: 25%;}
    .header-block h3 { text-align: left;}
    .header-block h1 { text-align: left;}
    .buttons-home { text-align: left;}
}

@media screen and (max-width: 760px){
    h1 {font-size: 38px; line-height: 50px; }
    h2 {font-size: 24px; line-height: 34px; margin-bottom: 30px;}
    h3 {font-size: 12px; line-height: 30px; margin-bottom: 5px;}
    p  {font-size: 16px; line-height: 30px; margin-bottom: 30px;}
    p a:hover {text-decoration: none;}
}

@media screen and (max-width: 560px){
    h1 {font-size: 38px; line-height: 50px; }
    h2 {font-size: 22px; line-height: 32px; margin-bottom: 30px;}
    h3 {font-size: 11px; line-height: 30px; margin-bottom: 5px;}
    p  {font-size: 16px; line-height: 30px; margin-bottom: 30px;}
    p a:hover {text-decoration: none;}
}

@media screen and (max-width: 340px){
    h1 {font-size: 32px; line-height: 42px; }

}

body {
	font-family: 'Montserrat', sans-serif;
	color: #191A1E;
   -webkit-font-smoothing: antialiased;
	top: 0;
    left: 0;
    background: #191A1E;
}

html, body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
}




/* ------------------------- All -------------------------------------------------- */

.section {
    float: left;
    width: 100%;
    position: relative;
    background: #fff;
}

.wrap {
    max-width: 1020px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}

.wrap-wide {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}

.sub-wrap {
    width: 50%;
    position: relative;
    float: left;
}

.sub-wrap.left {
    padding-right: 40px;
}

.sub-wrap.right {
    padding-left: 40px;
}

.stripe {
    background: rgba(25, 26, 30, 0.15);
    width: 100%;
    height: 1px;
    float: left;
}

.btn {
    height: 60px;
    background: #191A1E;
    color: #fff;
    display: inline-block;
    padding: 30px 55px 30px 40px;
    line-height: 0px;
    border-radius: 30px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.btn img {
    opacity: .5;
    position: absolute;
	top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    margin-left: 10px;
}

.btn:hover {
    text-decoration: none;
}

.btn:hover img {
    opacity: 1;
    margin-left: 13px;
}

.image-box {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
}


.image-box-overlay {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #191A1E;
    top: 0;
    right: 0;
    z-index: 1;
}

.image-box-inside {
    position: absolute;
    width: 100%;
    top: -20%;
}

.image-box-small {
    position: absolute;
    width: 100%;
    display: none;
    top: 50%;
    transform: translate(0, -50%);
}

.sub-header {
    padding-top: 250px;
}

.white-bar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
    display: none;
    background: #fff;
}


@media screen and (max-width: 1450px){
    .sub-header {
        padding-top: 230px;
    }
}

@media screen and (max-width: 1260px){
    .sub-header {
        padding-top: 160px;
    }
}

@media screen and (max-width: 760px){

    .wrap {
        max-width: 940px;
        margin: 0 auto;
        padding-left: 40px;
        padding-right: 40px;
    }
    .wrap-wide {
        padding-left: 40px;
        padding-right: 40px;
    }
    .image-box-inside {
        top: 0%;
        width: 130%;
        left: -15%;
        display: none;
    }
    .image-box-small {
        display: block;
    }
    .sub-header {
        padding-top: 160px;
    }
    .sub-wrap {
        width: 100%;
    }
    .sub-wrap.left {
        padding-right: 0px;
    }
    .sub-wrap.right {
        padding-left: 0px;
    }
    .white-bar-mobile {
        display: block;
    }

}


/* ------------------------- Homepage -------------------------------------------------- */
/* ------------------------- Header -------------------------------------------------- */

.header {
	width: 100%;
	height: 100vh;
    float: left;
    background: #fff url("../img/line-home.svg") 50vw center no-repeat;
    background-size: contain;
}

.header-block {
	left: 50%;
	top: 48%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 840px;
    padding: 0 20px;
    text-align: center;
}

.header-block h1 {margin: 0 0 40px 0; position: relative;}

.hq-small {
    font-size: 18px;
    font-family: 'Silka-Bold', sans-serif;
    font-weight: 700;
    position: absolute;
    top: -15px;
    padding-left: 6px;
}

.scroll-down {
    width: 80px;
    height: 80px;
    background: #007FFF url("../img/arrow-medium-light.svg") center center no-repeat;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}

.scroll-down:hover {
    background: #007FFF url("../img/arrow-medium-light.svg") center 36px no-repeat;
}

.top-bar-home {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 80px;
    z-index: 1;
}

.top-bar-home.scrolled {
    opacity: 0;
    visibility: hidden;
    top: -5px;
}

.top-bar-home .dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #51A384;
    float: left;
    margin: 35px 10px 0 0;
}

.top-bar-home p {
    float: left;
    line-height: 0px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding: 39.5px 0;
    opacity: 1;
}

.top-bar-home.false {
    display: none;
}

@media screen and (max-width: 1260px){
    .header-block {
        width: 740px;
    }
}

@media screen and (max-width: 890px){
    .header-block {
        width: 740px;
        padding: 0 40px;
    }
}

@media screen and (max-width: 760px){
    .header {
        background-size: cover;

    }
    .header-block {
        width: 100%;
        padding: 0 40px;
    }
    .header h1 {
        font-size: 34px; line-height: 42px; margin-bottom: 30px;
    }
    .hq-small {
        display: none;
    }
    .top-bar-home {
        display: none;
    }
    .scroll-down {
        width: 60px;
        height: 60px;
        bottom: auto;
        top: calc(88vh - 70px);
    }
    .scroll-down:hover {
        background: #007FFF url("../img/arrow-medium-light.svg") center center no-repeat;
    }
}

@media screen and (max-width: 340px){
    .header h1 {font-size: 28px; line-height: 38px; margin-bottom: 20px; }
}

 /* ------------------------- About Home -------------------------------------------------- */

 .home-about {
    width: 100%;
    background: #191A1E;
    padding: 0 0 120px 0;
}

.photo-george {
    width: 100%;
    float: left;
    margin-top: -80px;
    position: relative;
    overflow: hidden;
    margin-bottom: 130px;
}

.photo-george:before {
    content: "";
    display: block;
    padding-top: 50%;
}

.photo-george .btn {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 80px;
    border-radius: 0;
    padding: 40px 80px;
}

.home-about .block-left {
    width: 50%;
    float: left;
    padding-right: 40px;
}

.home-about .block-right {
    width: 50%;
    float: left;
    padding-left: 140px;
    padding-top: 90px;
}

.home-about .block-left .btn {
    padding-left: 0;
}

.home-about .block-right .col-left {
    float: left;
    padding-right: 50px;
}

.home-about .block-right .col-right {
    float: left;
}

.home-about .block-right h3 {
    margin: 0 0 2px 0;
}

.home-about .block-right p{
    margin-bottom: 0;
    opacity: 1;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1260px){
    .home-about .block-left {
        width: 65%;
        padding-right: 60px;
    }
    .home-about .block-right {
        width: 35%;
        padding-left: 20px;
        padding-top: 0px;
    }
    .home-about .block-right .col-left {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 760px){

    .home-about {
        padding: 0 0 60px 0;
    }
    .home-about .wrap-wide {
        padding: 0;
    }
    .photo-george {
        margin-top: -40px;
        margin-bottom: 70px;
    }
    .photo-george:before {
        padding-top: 70%;
    }
    .photo-george .btn {
        position: absolute;
        right: 0;
        z-index: 1;
        height: 60px;
        border-radius: 0;
        padding: 30px 60px 30px 40px;
    }
    .home-about .block-left {
        width: 100%;
        padding-right: 0px;
    }
    .home-about .block-right {
        width: 100%;
        padding-left: 0px;
        padding-top: 20px;
    }
    .home-about .block-right .col-left {
        padding-right: 15vw;
    }
    .home-about h2 {
        margin-bottom: 10px;
    }
    .home-about p {
        margin-bottom: 0;
     }
}


 /* ------------------------- Footer -------------------------------------------------- */

.footer {
    padding: 130px 0 0 0;
    /* border-top: 1px solid rgba(25, 26, 30, 0.15); */
    
    text-align: center;
    background: rgb(25, 26, 30);
}

.footer h2 {
    font-size: 42px;
    line-height: 62px;
    margin-bottom: 30px;
    color: #fff;
}

.footer h3 {
    color: #fff;
}

.footer .btn {
    margin-bottom: 120px;
    background: #fff;
    border: 1px solid rgba(25, 26, 30, 0.15);
    color: #191A1E;
}

.footer .btn img {
    mix-blend-mode: difference;
}

.footer-block {
    background: url("../img/george2.jpg") center center  no-repeat;
    background-size: cover;
    float: left;
    position: relative;
    width: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(0.8);
}

.footer-block:before {
    content: "";
    display: block;
    padding-top: 17%;
}

.footer-block .logo {
    top: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 100px;
    left: auto;
    mix-blend-mode: normal;
    z-index: 1;
}

.footer-block p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
    margin: 0;
    color: #fff;
    text-align: center;
    
}


@media screen and (max-width: 1260px){

}

@media screen and (max-width: 760px){

    .footer {
        padding: 100px 0 0 0;
    }
    .footer .wrap-wide {
        padding: 0;
    }
    .footer h2 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 25px;
    }
    .footer .btn {
        margin-bottom: 90px;
    }
    .footer-block:before {
        padding-top: 30%;
    }
    .footer .logo {
        top: 36%;
        transform: translate(-50%, -50%);
        right: auto;
        left: 50%;
        mix-blend-mode: normal;
        z-index: 1;
    }
    .footer-block p {
        top: 66%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 0;
        margin: 0;
        color: #fff;
        width: 100%;
        line-height: 2rem;
    }

}

@media screen and (max-width: 440px){
    .footer-block:before {
        padding-top: 40%;
    }
}


/* ------------------------- About us -------------------------------------------------- */
/* ------------------------- About top  -------------------------------------------------- */

.about-info {
    background: #fff url("../img/line-about.svg") left 40px no-repeat;
    background-size: contain;
}

.about-bottom-bar {
    background: #F1F1F2;
    width: 100%;
    position: absolute;
    height: 120px;
    bottom: 0;
    left: 0;
}

.about-info .wrap {
    position: relative;
}

.about-info .george-name {
    position: absolute;
    top: -40px;
    right: 100px;
}

.about-info h1 {
    font-weight: 600;
    margin-bottom: 120px;
}

.about-info-block {
    width: 50%;
    float: left;
    position: relative;
    overflow: hidden;
    background: #191A1E;
}

.about-info-block .image-box-overlay {
    background: #d3d4d6;
}

.about-info-block:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.about-info-block .block {
    float: left;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    padding: 80px;
}

.about-info-block .block h2 {
    color: #fff;
    font-size: 44px;
    margin: 0 0 5px 0;
    width: 2ch;
    overflow: hidden;
    white-space: nowrap;
}

.about-info-block .block h2.een-ch {
    width: 1ch;
    overflow: hidden;
    white-space: nowrap;
}

.about-info-block .block h2.twee-ch {
    width: 1.9ch;
    overflow: hidden;
    white-space: nowrap;
}

.about-info-block .block h3 {
    color: #007FFF;
    margin-bottom: 40px;
}

.about-info-block .block p {
    color: #fff;
    width: 100%;
    float: left;
}

.about-info-block .block-left {
    float: left;
    width: 60%;
}

.about-info-block .block-right {
    float: left;
    width: 40%;
}

.about-info-block .socials {
    position: absolute;
    bottom: 80px;
    top: auto;
    transform: translate(0, 0);
    left: auto;
    width: 180px;
    height: 40px;
    /* margin-left: -8px; */
    z-index: 5;
    position: absolute;
}


.about-info-block .social-btn {
    float: left;
}
@media screen and (max-width: 1180px){
    .about-info-block .block {
        padding: 60px;
    }
    .about-info-block .block h3 {
        margin-bottom: 20px;
    }
    .about-info-block .socials {
        bottom: 40px;
    }
}

@media screen and (max-width: 1060px){
    .about-info h1 {
        margin-bottom: 80px;
    }
    .about-info-block .block {
        padding: 40px;
    }
    .about-info-block .block h3 {
        margin-bottom: 20px;
    }
    .about-info-block .socials {
        bottom: 40px;
    }
}

@media screen and (max-width: 980px){
    .about-info {
        background: #fff;
    }
    .about-info .wrap-wide {
        padding: 0;
    }
    .about-info-block p{
        font-size: 14px;
        line-height: 27px;
    }
    .about-info-block .block h3 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 760px){
    .about-info .wrap-wide {
        padding: 0;
    }
    .about-info .george-name {
        right: 60px;
        transform: scale(0.7);
    }
    .about-info h1 {
        margin-bottom: 60px;
    }
    .about-info-block {
        width: 100%;
        min-height: 60vw;
    }
    .about-info-block:before {
        content: "";
        display: block;
        padding-top: 0%;
    }
    .about-info-block .block {
        float: left;
        position: relative;
        height: 100%;
        width: 100%;
        top: 0;
        padding: 60px 40px;
        min-height: 200px;
    }
    .about-info-block .block-left {
        width: 65%;
    }
    .about-info-block .block-right {
        width: 35%;
    }
    .about-info-block .block h3 {
        margin-bottom: 30px;
    }
    .about-info-block p {
        margin-bottom: 60px;
        font-size: 16px;
        line-height: 30px;
    }
    .about-info-block .socials {
        opacity: 1;
        visibility: visible;
        bottom: 40px;
    }
}

/* ------------------------- About Location  -------------------------------------------------- */

.location {
    background: #F1F1F2;
    padding: 120px 0 120px 0;
}

.location h3 {
    margin-top: 80px;
    color: #007FFF;
}

.location .map {
    position: relative;
    transform: translate(-50%, 15%);
    display: inline-block;
    left: 50%;
}

.location img {
    width: 100%;
}

.location .location-dot {
    width: 5px;
    height: 5px;
    background: #007FFF;
    border-radius: 10px;
    top: 55.25%;
    right: 50%;
    position: absolute;
    /* transform: translate(-50%, -50%); */
}

.location .location-ring {
    width: 35px;
    height: 35px;
    border: 2px solid #007FFF;
    border-radius: 25px;
    top: calc(55.25% - 15px);
    right: calc(50% - 15px);

    position: absolute;
    /* transform: translate(-50%, -50%); */
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1, 1); opacity: 0.0;}
}

@media screen and (max-width: 1040px){
    .location h3 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 760px){
    .location {
        background: #F1F1F2;
        padding: 60px 0 60px 0;
    }
    .location h3 {
        margin-top: 0px;
    }
    .location .right {
        padding: 10px 40px 0 40px;
    }
}

/* ------------------------- About Location  -------------------------------------------------- */

.timeline {
    background: #F1F1F2;
    text-align: center;
}

.timeline h3 {
    color: #007FFF;
    margin-bottom: 30px;
}

.timeline h4 {
    text-align: center;
}

.timeline .timeline-block {
    float: left;
    width: 33.3333%;
    float: left;
    background: #191A1E;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.timeline .timeline-block:last-child {
    border-right: 0;
}

.timeline .timeline-block:before {
    content: "";
    display: block;
    padding-top: 60%;
}

.timeline .timeline-sub {
    position: absolute;
    top: 54%;
    transform: translate(0, -50%);
    width: 100%;
}

.timeline .timeline-block h4 {
    color: #fff;
    margin-bottom: 5px;
}

.timeline .timeline-block h3 {
    opacity: .4;
    color: #fff;
    margin-bottom: 0;
}

.timeline-bottom-bar {
    background: #fff;
    width: 100%;
    position: absolute;
    height: calc((1100px / 6) * 0.6);
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 1260px){
    .timeline-bottom-bar {
        height: calc(((100vw - 180px) / 6) * 0.6);
    }
}

@media screen and (max-width: 940px){
    .timeline-bottom-bar {
        height: 80px;
    }
    .timeline h3 {
        margin-bottom: 15px;
    }
    .timeline .timeline-block {
        width: 100%;
    }
    .timeline .timeline-block:before {
        padding-top: 160px;
        border-right: 0px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

/* ------------------------- Logo Section  -------------------------------------------------- */

.logos {
    padding: 120px 0 120px 0;
    text-align: center;
}

.logos h3 {
    color: #007FFF;
    margin-bottom: 10px;
}

.logos .logo-block {
    float: left;
    width: 33.3%;
    position: relative;
    opacity: .35;
}

.logos .logo-block:hover {
    opacity: 1;
}

.logos .logo-block:before {
    content: "";
    display: block;
    padding-top: 70%;
}

.logos .logo-block img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
}

@media screen and (max-width: 940px){
    .logos .logo-block {
        width: 33.333%;
        transform: scale(0.8);
    }

}

@media screen and (max-width: 740px){
    .logos {
        padding: 60px 0 40px 0;
    }

    .logos .wrap-wide {
        padding: 0 30px;
    }

    .logos .logo-block {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 540px){
    .logos .wrap-wide {
        padding: 0 10px;
    }


    .logos .logo-block {
        width: 50%;
        transform: scale(0.8);
    }
}




/* ------------------------- Contact -------------------------------------------------- */
/* ------------------------- Contact  -------------------------------------------------- */

.contact .footer, .contact .progressContainer {
    display: none;
}

.contact {
    width: 100%;
    height: 100vh;
}

.contact-back {
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    background: #191A1E url("../img/line-nav.svg") center center no-repeat;
	background-size: contain;
	overflow: hidden;
}

.contact-block {
    width: 1260px;
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-left {
    float: left;
    width: 50%;
    height: 100%;
    padding: 0 40px;
}

.contact-right {
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 0 0 0 120px;
    text-align: center;
}

.contact .contact-left .nocolor {
    color: #191A1E;
    opacity: .4;
	margin: 0;
}

.contact .contact-left p {
    color: #191A1E;
    margin: 0;
    line-height: 30px;
    font-size: 16px;
    width: 100%;
    float: left;
    opacity: 1;
    color: rgba(25, 26, 30, 0.7);
}

.contact .contact-left a {
	float: left;
	color: #191A1E;
	width: 100%;
	opacity: 1;
	line-height: 30px;
	margin: 0;
  /* font-weight: 300; */
    font-size: 16px;
    color: rgba(25, 26, 30, 0.7);
}

.contact .contact-left a:hover {
	text-decoration: underline;
	color: rgba(25, 26, 30, 1);
}

.contact .contact-left h3 {
	float: left;
	color: #007FFF;
	width: 100%;
	margin: 40px 0 0 0;
}

.contact .contact-left .credits {
    opacity: .5;
    margin: 60px 0 0 0;
}

.contact-right .img-gif {
    width: 100%;
    -webkit-filter: grayscale(1);
    opacity: .9;
}

.contact-right h4 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.contact-right a {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.contact .image-box {
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    line-height: 0;
}

.contact .image-box-overlay {
    background: #2D2E32;
}

@media screen and (max-width: 1260px) {
    .contact-block {
        width: 100%;
        left: 0;
        transform: translate(0, -50%);
    }
    .contact-right {
        float: left;
        position: relative;
        width: 50%;
        height: 100%;
        padding: 0 0 0 80px;
        text-align: center;
    }
}

@media screen and (max-width: 940px) {
    .contact-back {
        width: 45%;
    }

    .contact-left {
        width: 55%;
    }

    .contact-right {
        width: 45%;
    }

    .contact .image-box-overlay {
        display: none;
    }

    .contact-right h4 {
        font-size: 20px;
    }

}

@media screen and (max-width: 860px) {
    .contact-back {
        display: none;
    }
    .contact-block {
        position: relative;
        transform: translate(0, 0%);
        top: 0;
        padding: 150px 0 0 0;
        float: left;
    }
    .contact-left {
        width: 100%;
        padding: 0;
        padding: 0 40px 60px 40px;
    }
    .contact .contact-left h3 {
        margin-top: 25px;
    }
    .contact-right {
        width: 100%;
        padding: 0 0 80px 0;
        background: #191A1E;
    }
    .contact .contact-left a {
        text-decoration: underline;
    }

    .contact .credits {
        display: none;
    }

    .contact-right .img-gif{
        margin-top: 0px;
    }

}



 /* ------------------------- Error -------------------------------------------------- */


.error .footer, .error .progressContainer {
    display: none;
}



 /* ------------------------- Animation -------------------------------------------------- */

.btn, .btn img {
	-webkit-transition: all .15s ease-in-out;
  	-moz-transition: all .15s ease-in-out;
  	-ms-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
 }

.top-bar-home, .arrow, p, .logo-block {
 -webkit-transition: all .25s ease-in-out;
 -moz-transition: all .25s ease-in-out;
   -ms-transition: all .25s ease-in-out;
   -o-transition: all .25s ease-in-out;
   transition: all .25s ease-in-out;
 }

 .image-box-overlay, .gc-case-overlay {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
 }
